.plants-page {
  min-height: 100vh;
  /* padding-top: var(--spacing-2xl); */
  padding-top: 6rem
}

.plant-cards-section {
  padding: var(--spacing-4xl) 0;
}

@media (max-width: 768px) {
  .plant-cards-section {
    padding: var(--spacing-3xl) 0;
  }
}
